DEBUG=False
DB_HOST=db
DB_PORT=5432
DB_NAME=rms_db
DB_USER=postgres
DB_PASSWORD=your_secure_db_password_here
SECRET_KEY=your_secure_secret_key_here
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
POSTGRES_DB=rms_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_db_password_here
