DEBUG=False
DB_HOST=db
DB_PORT=5432
DB_NAME=rms_db
DB_USER=postgres
DB_PASSWORD=your_secure_db_password_here
SECRET_KEY=your_secure_secret_key_here
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
POSTGRES_DB=rms_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_db_password_here

# API Endpoints cho các Danh mục
API_DANH_MUC_DON_VI_QUAN_LY=https://example.com/api/don-vi-quan-ly
API_DANH_MUC_NUOC_SAN_XUAT=https://example.com/api/nuoc-san-xuat
API_DANH_MUC_HANG_SAN_XUAT=https://example.com/api/hang-san-xuat
API_DANH_MUC_SO_HUU=https://example.com/api/so-huu
API_DANH_MUC_CAP_DIEN_AP=https://example.com/api/cap-dien-ap
API_DANH_MUC_LOAI_THIET_BI=https://example.com/api/loai-thiet-bi
API_DANH_MUC_TRANG_THAI_VAN_HANH=https://example.com/api/trang-thai-van-hanh
API_DANH_MUC_TRAM=https://example.com/api/tram
API_DANH_MUC_NGAN_LO=https://example.com/api/ngan-lo
API_DANH_MUC_DUONG_DAY=https://example.com/api/duong-day
API_DANH_MUC_CONG_TRINH=https://example.com/api/cong-trinh
API_DANH_MUC_VI_TRI=https://example.com/api/vi-tri
API_THIET_BI=https://example.com/api/thiet-bi
